<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to food search</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/jambotron.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">
    <%- include('header') -%>

    <h2 class="page-header">Account Login</h2>
    <% if (success_msg && success_msg.length > 0) { %>
      <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg && error_msg.length > 0) { %>
      <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>
    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form class="" action="/login" method="post">
      <div class="form-group">
        <label for="">Usernme</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <%- include('footer') -%>
  </div>
</body>
